<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzz.mvc.Mappers.AccountMapper">

    <insert id="addOneAccount" parameterType="account">
        INSERT INTO
        Accounts (Account_id, Account_name, Account_password, Account_address)
        VALUES
        (#{Account_id}, #{Account_name},#{Account_password}, #{Account_address})
    </insert>

    <delete id="deleteOneAccountById" parameterType="java.lang.String">
        DELETE FROM Accounts WHERE Account_id = #{id}
    </delete>

    <update id="editAccountInfo" parameterType="account">
        update Accounts set
        Account_name = #{Account_name},
        Account_password = #{Account_password},
        Account_id = #{Account_id},
        Account_address = #{Account_address}
        where
        Account_id = #{Account_id}
    </update>

    <select id="queryAccountInfoById" resultType="account">
      select * from Accounts where Account_id = #{id}
    </select>

</mapper>

        <!--&lt;!&ndash; 在 sqlmapconfig 加载此mapper &ndash;&gt;-->