<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
        <!--PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="Mappers.UserMapper">-->
    <!--<select id="selectOneUser" resultType="com.zzz.mvc.entities.User">-->
        <!--select * from Users where User_id = #{id}-->
    <!--</select>-->
<!--</mapper>-->

        <!--&lt;!&ndash; 在 sqlmapconfig 加载此mapper &ndash;&gt;-->